<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Open menu">
        <mat-icon>menu</mat-icon>
      </button>
      
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="navigateToOrderHistory()">
          <mat-icon>history</mat-icon>
          <span>History</span>
        </button>
        <button mat-menu-item (click)="openSimpleDialog()">
          <mat-icon>info</mat-icon>
          <span>About</span>
        </button>
      </mat-menu>
    <div>
        <h2>{{this.dataService.BasicBusinessInfo?.bussinessName}}</h2>
    </div>
    <span class="example-spacer"></span>

    <!-- Palette Icon with Badge and Theme Menu -->
    <button mat-icon-button [matMenuTriggerFor]="themeMenu" matBadge=" " [matBadgeOverlap]="false" class="palette-badge" aria-label="Select theme">
        <mat-icon>palette</mat-icon>
        <span class="theme-badge" [ngStyle]="{ 'background-color': selectedTheme?.badgeColor }"></span>
    </button>
    <mat-menu #themeMenu="matMenu">
        <ng-container *ngFor="let option of themeOptions">
            <button mat-menu-item (click)="selectTheme(option)">
                <mat-icon *ngIf="selectedTheme?.value === option.value">radio_button_checked</mat-icon>
                <mat-icon *ngIf="selectedTheme?.value !== option.value">radio_button_unchecked</mat-icon>
                <span>{{ option.name }}</span>
                <span class="theme-sample" [ngStyle]="{ 'background-color': option.badgeColor }"></span>
            </button>
        </ng-container>
    </mat-menu>

    <button matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon (click)="navigateToProfile()">person</mat-icon>    </button>
    <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon (click)="navigateToShoppingCart()">shopping_cart</mat-icon>    </button>
        <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon (click)="navigateToHome()">home</mat-icon>    </button>
            <button matIconButton (click)="navigateToContactUs()" class="example-icon" aria-label="Example icon-button with share icon">            <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='black'%3E%3Cpath d='M240-400h320v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z'/%3E%3C/svg%3E" alt="Document icon" width="24" height="24">
            </button>
  </mat-toolbar>
  