<h1>There are a number of ways you can contact {{dataService.BasicBusinessInfo?.bussinessName}}</h1>

<mat-card class="cardSize" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Phone Number</mat-card-title>
      <mat-card-subtitle>{{dataService.BasicBusinessInfo?.bussinessPhone}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="cardSize" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Email</mat-card-title>
      <mat-card-subtitle>{{dataService.BasicBusinessInfo?.bussinessEmail}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

