<!-- Toast Messages -->
<p-toast></p-toast>

<div *ngIf="loading">Loading business details...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<div *ngIf="businessDetails && !loading && !error">
  <div class="services-grid">
    <p-card *ngFor="let service of businessDetails.services" class="service-pcard" [ngStyle]="{ 'margin-bottom': '2rem', 'background': '#fff', 'overflow': 'hidden' }">
      <ng-template pTemplate="header" *ngIf="service.serviceImageUrl">
        <img [src]="service.serviceImageUrl" alt="Service Image" class="service-image-header" />
      </ng-template>
      <ng-template pTemplate="title">
        <span class="service-title">{{service.serviceName}}</span>
      </ng-template>
      <ng-template pTemplate="subtitle">
        <span class="service-description">{{service.serviceDescription}}</span>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="service-details">
          <div><b>Price:</b> {{service.price | currency:service.currency}}</div>
          <div><b>Duration:</b> {{service.duration}} min</div>
          <div *ngIf="service.serviceEstimatedTime"><b>Estimated Time:</b> {{service.serviceEstimatedTime}}</div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="service-actions">
          <p-button label="Reviews" icon="pi pi-star" styleClass="p-button-text" class="mr-2" (onClick)="openReviewsDialog(service)" />
          <p-button label="Add to Cart" icon="pi pi-shopping-cart" (onClick)="addToCart(service)" />
          <p-button icon="pi pi-info-circle" styleClass="p-button-text" (onClick)="openDialog()" />
        </div>
      </ng-template>
    </p-card>
  </div>

  <!-- Contact Info and other necessary details at the bottom -->
  <div class="contact-info-box">
    <div class="contact-info-heading">Contact Information</div>
    <div class="contact-details">
      <div class="contact-detail"><i class="pi pi-phone"></i> <b>Phone:</b> {{ businessDetails.basicInfo?.phone || 'N/A' }}</div>
      <div class="contact-detail"><i class="pi pi-envelope"></i> <b>Email:</b> {{ businessDetails.basicInfo?.email || 'N/A' }}</div>
      <div *ngIf="businessDetails.specificAddresses?.length">
        <div class="contact-detail"><i class="pi pi-map-marker"></i> <b>Address:</b></div>
        <ul class="contact-address-list">
          <li *ngFor="let addr of businessDetails.specificAddresses">
            {{ addr.streetAddress }}, {{ addr.city }}, {{ addr.state }}, {{ addr.country }} {{ addr.postalCode }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Reviews Dialog -->
<p-dialog 
  [(visible)]="showReviewsDialog" 
  [modal]="true" 
  [closable]="true" 
  [draggable]="false" 
  [resizable]="false"
  [header]="selectedServiceForReviews?.serviceName + ' - Reviews'"
  styleClass="reviews-dialog"
  [style]="{width: '90vw', maxWidth: '800px', height: '80vh'}">
  
  <app-reviews 
    *ngIf="selectedServiceForReviews && businessDetails?.basicInfo?.businessID"
    [serviceId]="selectedServiceForReviews.serviceID!"
    [businessId]="businessDetails!.basicInfo!.businessID!"
    [showAddReview]="true">
  </app-reviews>
</p-dialog>

